<script setup>
import {ref, watch} from "vue";

const selected = ref()
const metaKey = ref(true)

const props = defineProps(['data', 'modelValue'])
const emit = defineEmits(['update:modelValue'])

watch(selected, (newSelection) => {
  console.log(selected.value)
  emit('update:modelValue', newSelection)
})
</script>

<template>
  <div class="w-12 scrollable-div">
    <p-dataTable :value="props.data" v-model:selection="selected" selectionMode="single" :metaKeySelection="metaKey">
      <p-column field="Name" header="Name">
        <template #body="slotProps">
          <div class="flex align-items-center">
            <img :src="'logos/' + slotProps.data.Name + '.png'" :alt="slotProps.data.Name" class="responsive-image"/>
            <div class="m-2">{{ slotProps.data.Name }}</div>
          </div>
        </template>
      </p-column>

      <p-column field="Publisher" header="Publisher">
        <template #body="slotProps">
          <div class="flex align-items-center">
            <img :src="'logos/' + slotProps.data.Publisher + '.png'" :alt="slotProps.data.Publisher" class="responsive-image"/>
            <div class="m-2">{{ slotProps.data.Publisher }}</div>
          </div>
        </template>
      </p-column>

      <p-column field="Standards" header="Standards">
        <template #body="slotProps">
          <div class="flex">
            <div v-for="item in slotProps.data.Standards">
              <p-chip :label="item" class="m-1"/>
            </div>
          </div>
        </template>
      </p-column>

      <p-column field="Abilities" header="Abilities">
        <template #body="slotProps">
          <div class="flex">
            <div v-for="item in slotProps.data.Abilities">
              <p-chip :label="item" class="m-1"/>
            </div>
          </div>
        </template>
      </p-column>

      <p-column field="Link" header="Link">
        <template #body="slotProps">
          <a :href="slotProps.data.Link" target="_blank">
            <p-button label="Link" severity="secondary" outlined rounded/>
          </a>
        </template>
      </p-column>
    </p-dataTable>
  </div>

</template>

<style scoped>

</style>