<script setup>

import MapCard from "../map-card.vue";

const props = defineProps(['data', 'modelValue'])
const emit = defineEmits(['update:modelValue'])

</script>

<template>
  <div class="flex flex-wrap w-12 scrollable-div">
    <map-card :data="props.data"/>
  </div>
</template>

<style scoped>

</style>