<script setup>

import {onMounted, watch} from "vue";
import * as d3 from 'd3';
import data from '../../assets/data.json';

const props = defineProps(['data'])

onMounted(() => {
  generateTreeObject()
})

watch (props, () => {
  generateTreeObject()
})

function generateTreeObject() {
  // Specify the chart’s dimensions.
  const rect = document.getElementById('workbench').getBoundingClientRect()
  const width = rect.width;
  const height = rect.height;
  const cx = width * 0.5; // adjust as needed to fit
  const cy = height * 0.5; // adjust as needed to fit
  const radius = Math.min(width, height) / 2 - 75;

  // Make sure the plot is empty.
  d3.select("#plot").selectAll("*").remove();

  // Create a radial tree layout. The layout’s first dimension (x)
  // is the angle, while the second (y) is the radius.
  const tree = d3.tree()
      .size([2 * Math.PI, radius])
      .separation((a, b) => (a.parent == b.parent ? 1 : 2) / a.depth);

  // Sort the tree and apply the layout.
  const root = tree(d3.hierarchy(JSON.parse(JSON.stringify(props.data)))
      .sort((a, b) => d3.ascending(a.data.name, b.data.name)));

  // Creates the SVG container.
  const svg = d3.select("#plot")
      .attr("width", width)
      .attr("height", height)
      .attr("viewBox", [-cx, -cy, width, height])
      .attr("style", "width: 100%; height: auto; font: 10px sans-serif;");

  // Append links.
  svg.append("g")
      .attr("fill", "none")
      .attr("stroke", "#555")
      .attr("stroke-opacity", 0.4)
      .attr("stroke-width", 2)
      .selectAll()
      .data(root.links())
      .join("path")
      .attr("d", d3.linkRadial()
          .angle(d => d.x)
          .radius(d => d.y));

  // Append nodes.
  svg.append("g")
      .selectAll()
      .data(root.descendants())
      .join("circle")
      .attr("transform", d => `rotate(${d.x * 180 / Math.PI - 90}) translate(${d.y+20},0)`)
      .attr("fill", "rgba(245,245,245,1)")
      .attr("r", 25);

  // Append images.
  svg.append("g")
      .selectAll()
      .data(root.descendants())
      .join("image")
      .attr("xlink:href", d => "logos/" + d.data.name + ".png") // replace with your image URL
      .attr("transform", d => `rotate(${d.x * 180 / Math.PI - 90}) translate(${d.y},-20)`)
      .attr("width", 40) // set the width of the image
      .attr("height", 40) // set the height of the image

  // Append labels.
  svg.append("g")
      .attr("stroke-linejoin", "round")
      .attr("stroke-width", 3)
      .selectAll()
      .data(root.descendants())
      .join("text")
      .attr("transform", d => `rotate(${d.x * 180 / Math.PI - 90}) translate(${d.y},0) rotate(${d.x >= Math.PI ? 180 : 0})`)
      .attr("dy", "0.31em")
      .attr("x", d => d.x < Math.PI === !d.children ? 6 : -6)
      .attr("text-anchor", d => d.x < Math.PI === !d.children ? "start" : "end")
      .attr("paint-order", "stroke")
      .attr("stroke", "white")
      .attr("fill", "currentColor")
      .style("font-size", "15px")
      .text(d => d.data.name);

  return svg.node();
}

</script>

<template>
  <svg id="plot" style="width:100%; height:100%"/>
</template>

<style scoped>

</style>
