<script setup>
import draggable from 'vuedraggable'

const props = defineProps(['modelValue'])
const emit = defineEmits(['update:modelValue'])

const updateFilters = (event) => {
  const movedItem = props.modelValue.splice(event.oldIndex, 1)[0];
  props.modelValue.splice(event.newIndex, 0, movedItem);
  props.modelValue = [...props.modelValue]; // Create a new array
  emit('update:modelValue', props.modelValue)
};
</script>

<template>
 <draggable v-model="props.modelValue" @end="updateFilters">
   <template #item="{element}">
     <div class='flex justify-content-between not-draggable card m-2 p-2 w-full surface-200'>
       <h2 class="card-title">{{ element.name }}</h2>
       <p-inputSwitch v-model="element.enabled"/>
     </div>
   </template>
  </draggable>
</template>

<style scoped>
.not-draggable {
  cursor: no-drop;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-title {
  font-size: 1.25em;
  font-weight: bold;
}
</style>