<script setup>
const props = defineProps(['data'])
</script>

<template>
  <div class="background flex flex-column m-1 p-1 w-full">
    <h3>{{ props.data.name }}</h3>
    <div v-if="props.data.children" class="flex flex-wrap">
      <div v-if="props.data.children.length === 1" v-for="item in props.data.children" class="flex flex-wrap w-12">
        <map-card :data="item" class="w-full"/>
      </div>
      <div v-else v-for="item in props.data.children" class="flex flex-wrap">
        <map-card :data="item" class="w-full"/>
      </div>
    </div>
    <div v-else>
      <img :src="'logos/' + props.data.name + '.png'" :alt="props.data.name" class="responsive-image"/>
    </div>
  </div>
</template>

<style scoped>
.background {
  background-color: rgba(0, 0, 0, 0.035);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.01);
}
</style>