<script setup>
import {onBeforeMount, onMounted, reactive, ref, watch} from "vue";
import MapPlot from "./components/plots/map-plot.vue";
import NetworkPlot from "./components/plots/network-plot.vue";
import TreePlot from "./components/plots/tree-plot.vue";
import ListPlot from "./components/plots/list-plot.vue";
import axios from "axios";
import {load} from "js-yaml";
import {aggregateList, generateTreeObject, normaliseList} from "./global/global.js";
import FilterCard from "./components/filter-card.vue";

const activeView = ref(3)
const activeMode = ref('normalize')
const filters = reactive([
    {name: 'Standards', id: 0, enabled: true},
    {name: 'Publisher', id: 1, enabled: true},
    {name: 'Name', id: 2, enabled: true},
    {name: 'Abilities', id: 3, enabled: true}
])

const rawdata = ref([])
const formattedData = ref([])
const filteredTreeData = ref()
const filteredNetworkData = ref()

const selectedItem= ref('test')

onBeforeMount(() => {
  axios.get('/data.yaml').then(x => {
    rawdata.value = load(x.data)
  })
})

function onViewChange(view) {
  activeView.value = view
}

function onModeChange(mode) {
  activeMode.value = mode
  recalculateAllData(filters, rawdata.value)
}

function recalculateAllData(currentFilters, currentRawData) {
  if (activeMode.value === 'normalize') {
    formattedData.value = normaliseList(currentRawData)
  } else {
    formattedData.value = aggregateList(currentRawData)
  }
  filteredTreeData.value = generateTreeObject(currentFilters, formattedData.value)
}

watch(rawdata, (newRawData, oldRawData) => {
  recalculateAllData(filters, newRawData)
})

watch(filters, (newFilters, oldFilters) => {
  recalculateAllData(newFilters, rawdata.value)
})

</script>

<template>
  <div class="flex overflow-hidden grid max-h-full">
    <div class="flex-column flex col-2 surface-50 full-vue-heigth shadow-right pr-3">
      <span class="p-buttonset m-2 w-full">
        <p-button label="Map" rounded :outlined="activeView !== 0" :severity="activeView === 0 ? '' : 'secondary'" @click="onViewChange(0)" class="w-3"/>
        <p-button label="Net" rounded :outlined="activeView !== 1" :severity="activeView === 1 ? '' : 'secondary'" @click="onViewChange(1)" class="w-3"/>
        <p-button label="Tree" rounded :outlined="activeView !== 2" :severity="activeView === 2 ? '' : 'secondary'" @click="onViewChange(2)" class="w-3"/>
        <p-button label="List" rounded :outlined="activeView !== 3" :severity="activeView === 3 ? '' : 'secondary'" @click="onViewChange(3)" class="w-3"/>
      </span>

      <span class="p-buttonset m-2 w-full">
        <p-button label="Normalize" rounded :outlined="activeMode !== 'normalize'" :severity="activeMode === 'normalize' ? '' : 'secondary'" @click="onModeChange('normalize')" class="w-6"/>
        <p-button label="Aggregate" rounded :outlined="activeMode !== 'aggregate'" :severity="activeMode === 'aggregate' ? '' : 'secondary'" @click="onModeChange('aggregate')" class="w-6"/>
      </span>

      <filter-card v-model="filters"/>
    </div>
    <div id="workbench" class="flex-grow-1 flex col full-vue-heigth">

      <div v-if="filteredTreeData" class="flex-grow-1 flex col full-vue-heigth">
        <map-plot v-if="activeView === 0" :data="filteredTreeData" v-model="selectedItem"/>
        <network-plot v-else-if="activeView === 1" :data="rawdata" v-model="selectedItem"/>
        <tree-plot v-else-if="activeView === 2" :data="filteredTreeData"/>
        <list-plot v-else-if="activeView === 3" :data="rawdata" v-model="selectedItem"/>
      </div>
    </div>


    <div class="flex flex-column surface-50 col-2 full-vue-heigth shadow-left">
      {{ selectedItem }}
      <p-divider/>
      {{ filters }}
      <p-divider/>
      {{formattedData}}

    </div>
  </div>

</template>

<style scoped>
.full-vue-heigth {
  height: 100vh;
  position: relative;
  padding: 8px;
}
</style>
